@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.text{
  margin-top:250px;
}
.text_1{
  padding-left: 30px;
}
.text_2{
  padding-left: 30px;
}
@media (max-width:900px) {
  .text{
    margin-top: 30px;
  }
  
}